<div id='stats'>
  <a href="/logout" class="logout">logout</a>
  <div class="statsContainer"> 
    <h3>Welcome Back, {{user.name}} </h3>
    <div id="progessBarOuter"> 
      <div id="progressBar" style='width:0%'></div>
    </div>
    <div class="spacer"></div>
    <div class="centeredText" ng-show="!showCheck()"> Only {{ 1320 - total }} more calories to burn to meet your daily goal! </div>
    <div class="centeredText" ng-show="showCheck()"> Congrats on meeting your goal! </div>
    <div class="spacer"></div>
  </div>
  <div class="currentProgress" ng-show="!showCheck()"> Your current goal: {{ total }} / 1320 calories</div>
  <div class="spacerLarge" ng-show="showCheck()"></div>
  <div class="activityGreet"> Activities: </div>
  <div class="spacer"></div>
  <div class="activity" ng-repeat='act in activities' >
  <img src="../assets/{{act.img}}.png" class="actImg" >
    <div class="name"> {{ act.act }} </div>
    <div class="inputContainer">
      <form ng-submit="update([act.act, quantity[act.act], user])">
        <label>{{ act.quant }}:</label> <input class="log" name="hours" ng-model="quantity[act.act]">
      </form>
    </div>
    <!-- <input type="submit" id="exSubmit"> -->
    <div class="goal" ng-show="!showCheck()"> {{ Math.ceil((1320 -  total) / act.burn) }} more to meet goal! </div>
  </div>
</div>
