<div id='stats'>
  <div class="statsContainer"> 
    <h1>Welcome Back, Erick</h1>
    <div id="progessBarOuter"> 
      <div id="progressBar"></div>
    </div>
    <div class="spacer"></div>
    <span class="centeredText"> Only x more calories to burn to meet your daily goal! </span>
    <div class="spacer"></div>
  </div>
  <div class="activity" ng-repeat='act in activities'>
    <div class="name"> {{ act.act }} </div>
    <form ng-submit="update()">
      {{ act.quant }}: <input class="log" name="hours" ng-model="quantity">
      <input type="submit" id="exSubmit">
    </form>
  </div>
</div>
